<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>C&oacute;digo de ejemplo | Pol&iacute;tica de Cookies</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../img/icons/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../img/icons/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../../img/icons/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="../../img/icons/favicon.png">

	<link href="cookies.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--//BLOQUE COOKIES-->
<div id="barraaceptacion">
	<div class="inner">
		Solicitamos su permiso para obtener datos estad&iacute;sticos de su navegaci&oacute;n en esta web, en cumplimiento del Real Decreto-ley 13/2012. Si contin&uacute;a navegando consideramos que acepta el uso de cookies.
		<a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
		<a href="http://politicadecookies.com" target="_blank" class="info">M&aacute;s informaci&oacute;n</a>
	</div>
</div>

<script>
function getCookie(c_name){
	var c_value = document.cookie;
	var c_start = c_value.indexOf(" " + c_name + "=");
	if (c_start == -1){
		c_start = c_value.indexOf(c_name + "=");
	}
	if (c_start == -1){
		c_value = null;
	}else{
		c_start = c_value.indexOf("=", c_start) + 1;
		var c_end = c_value.indexOf(";", c_start);
		if (c_end == -1){
			c_end = c_value.length;
		}
		c_value = unescape(c_value.substring(c_start,c_end));
	}
	return c_value;
}

function setCookie(c_name,value,exdays){
	var exdate=new Date();
	exdate.setDate(exdate.getDate() + exdays);
	var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
	document.cookie=c_name + "=" + c_value;
}

if(getCookie('tiendaaviso')!="1"){
	document.getElementById("barraaceptacion").style.display="block";
}
function PonerCookie(){
	setCookie('tiendaaviso','1',365);
	document.getElementById("barraaceptacion").style.display="none";
}
</script>
<!--//FIN BLOQUE COOKIES-->
</body>
</html>	