#barraaceptacion {
    display:none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}

.inner {
    margin: auto;
    position: relative;
    top: 0px;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #eeeeee;
    padding: 5px 10px;

}

.inner a.ok {
    padding:4px;
    color: $primary;
    text-decoration:none;
}

.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color: $primary;
}