//Rewrite main sass file
.header{
	.phone-active{
		a.close{
			@media (max-width: 600px){
				margin-top: 19px;
			}
		}
	}
}
#main{
	padding: 45px 0;
	&.home{
		padding: 0;
	}
	.ctitle{
		h1{
			font-size: 22px;
			@media (min-width: 768px){
				font-size: 48px;
			}
		}
	}
}
#footer{
	padding-top: 25px;
}
.bottom-shop-home{
	p{
		font-weight: bold;
		color: #ffffff;
	}
}
//Banner
.banner1{
	width: 300px;
	background-color: #eeeeee;
	padding: 15px;
	position: absolute;
	z-index: 200;
	opacity: 0.8;
	h3{
		font-size: 18px;
	}
	p{
		font-size: 12px;
	}
}
.banner2{
	padding: 15px;
	text-align: center;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: -10px;
}