//Seccion tarifas
.marca{
	background-color: #ffffff;
	border: 1px solid #f2f2f2;
	padding: 15px 0;
	img{
		max-height: 150px;
	}
}
//Rolls
.contenidor-1{
	padding: 0;
}
section.galeria { 
  //padding: .5vw;
  font-size: 0;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox; /*IE 10*/
  //margin: 5% ;
}
section.galeria div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  //width: 200px; 
  //margin: .5vw; 
}
section.galeria div img { 
  width: 100%; 
  height: auto;
  margin: 0 auto; 
}
/*Media Queries*/
@media screen and (max-width: 400px) {
  section.galeria div { margin: 0; }
  section.galeria { padding: 0; }
}
.da-thumbs {
	list-style: none;
	//width: 984px;
	//height: 600px;
	position: relative;
	//margin: 20px auto;
	padding: 0;
}
.da-thumbs div {
	float: left;
	margin: 0 5px 5px 0;
	background: #fff;
	//padding: 8px;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.da-thumbs div a,
.da-thumbs div a img {
	display: block;
	position: relative;
}
.da-thumbs div a {
	overflow: hidden;
	width: 300px;
	margin: 0 auto;
}
.da-thumbs div a div {
	position: absolute;
	background: #333;
	background: rgba(3,122,197,.7);
	width: 300px;
	height: 100%;
	text-align: center;
}
.da-thumbs div a div span.inf {
	display: block;
	padding: 10px 0 5px 0;
	//margin: 40px 20px 20px 20px;
	//text-transform: uppercase;
	font-weight: normal;
	color: #333;
	//text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	//border-bottom: 1px solid rgba(255,255,255,0.5);
	//box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
	position: relative;
    top: 50%;
    transform: translateY(-50%);
	p{
		font-family: $main-font-family;
		font-size: 20px;
		color: #2F2F2F;
		letter-spacing: 0.27px;
		line-height: 18px;
		&.num{
			font-family: $main-font-family;
			font-size: 30px;
			color: #FFFFFF;
			letter-spacing: 1.66px;
			line-height: 120px;
			text-transform: uppercase;
		}
	}
}