<nav id="c-menu--push-right" class="c-menu c-menu--push-right">
	<button class="c-menu__close">Cerrar Menu &rarr;</button>
	<ul class="c-menu__items">
		<li class="c-menu__item"><a href="dashboard.php" class="c-menu__link">Dashboard</a></li>
		<li class="c-menu__item"><a href="tarifas.php" class="c-menu__link">Tarifas</a></li>
		<li class="c-menu__item"><a href="usuaris.php" class="c-menu__link">Usuarios</a></li>
		<li class="c-menu__item"><a href="profile.php?id=<?=$_SESSION['id_usuarioa']?>" class="c-menu__link">Mi cuenta</a></li>
		<li class="c-menu__item"><a href="calendar.php" class="c-menu__link">Calendar</a></li>
		<li class="c-menu__item"><a href="../index.php" target="_blank" class="c-menu__link">Ir a web</a></li>
	</ul>
</nav><!-- /c-menu push-right -->
<div id="c-mask" class="c-mask"></div><!-- /c-mask -->