<!-- banner -->
<div class="banner2" style="display: none;">
    <div class="col-sm-12">
        <h3>Reparación en menos de una hora en nuestra tienda.</h3>
        <div class="col-sm-6">
            <div class="address">
                <div class="big-icon border border-info">
                    <span class="livicon" data-n="location" data-s="62" data-c="#8A0072" data-hc="#8A0072"></span>
                </div>
                <p>Pol. Ind. Cobo Calleja, Calle Villafranca del Bierzo 2,<br> Local 42 (dentro de la Galeria) 28947 - Fuenlabrada, Madrid</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="big-icon border border-info">
                <span class="livicon" data-n="truck" data-s="62" data-c="#8A0072" data-hc="#8A0072"></span>
            </div>
            <p><strong>¿No puede venir a nuestra tienda?</strong><br>
                Cobophone le manda a un mensajero a su casa<br>
                Recibimos su móvil/tablet y el mismo día lo tiene de vuelta en su casa.</p>
        </div>
    </div>
    <div class="col-sm-12 mtm">
        <a href="presupuesto.php" class="btn btn-success btn-block">Pide tu presupuesto</a>
    </div>
</div>